#root {
  background: #b3b3b0;
  background: -webkit-linear-gradient(to bottom, #b3b3b0 0%, #e3e2dd 500px);
  background: linear-gradient(to bottom, #b3b3b0 0%, #e3e2dd 500px);
  min-height: 100vh;
}

.movieDetail {
  width: 100%;
  background-color: #fff;
  padding: 0;

  & > div {
    width: 100%;
  }

  @media (min-width: 768px) {
    width: 80%;
  }

  & .header {
    flex-direction: column;

    & .col {
      flex-basis: unset;
    }
  }

  &__meta {
    font-size: 13px;
    text-align: center;

    & > * {
      padding: 0 0.2rem;
    }
  }

  &__text {
    width: 100%;
    justify-content: flex-start;
    margin: 0;
  }

  &__content {
    margin: 0;
  }
}

.row {
  align-items: center;
}

h2 {
  padding-right: 0.5rem;
}

.no-padding {
  padding: 0;
}

.posterImage {
  display: flex;
  justify-content: center;
  margin-bottom: 1rem;
}
